/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
body {
	overflow-x:hidden;
}
.wrapper {
	overflow:hidden;
	@include breakpoint(medium) {
	    min-height: 500px
	}
}
.prelative {
	position:relative;
}
.MediaTransformError {
	display:none !important;
}
input[type='submit'] {
	@extend .button;
}
input:not([type]) {
	@extend [type='text'];
}

.cancel-global-padding {
	margin-left:-$global-padding;
	margin-right:-$global-padding;
}
.small-cancel-global-padding {
	margin-left: -#{map_get($grid-column-gutter, 'small')/2};
	margin-right: -#{map_get($grid-column-gutter, 'small')/2};
	@include breakpoint(medium) {
		margin-left:0;
		margin-right:0;
	}
}

.button {
	text-decoration:none !important;
	font-weight: $global-weight-bold;
	text-transform: uppercase;
}

//Needed by ULS hack
@media screen and (min-width: 64em) {
	.site-header .hide-for-large {
		display: none !important;
	}
}
.uls-mobile {
	left: 2.5% !important;
	&.uls-wide,
	&.grid .row {
		min-width: 0;
	}
	&.grid .columns {
		float: none;
		padding: 0;
	}
	#uls-settings-block div.display-settings-block,
	#uls-settings-block div.input-settings-block {
		display: none;
	}
}

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}
.site-button {
	@extend .button;
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

/********************
LOADING
**********************/
#loading {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:$body-background;
    z-index: 9000;

    #loading-image {
    	margin:0 auto;
    	position:absolute;
    	top:40%;
    	left:0;
    	right:0;
    }
}


/********************
Search modal
********************/
.search-box {
	// @extend .cancel-global-padding;

	padding-bottom: 0 !important;
	@include breakpoint(medium) {
		padding-bottom:2rem !important;
	}
	@include placeholder {
		color: $slate;
		font-style: italic;
	}
	.advanced-search-link {
		text-decoration: underline;
		padding-top: 0.25rem;
	}
	.search-title {
		font-size: 1.125rem;
		margin-bottom: 1rem;
		@include breakpoint(medium) {
			font-size: 1.7rem;

		}
	}
	.input-group {
		.search-input {
			border: 0.125rem solid $dark-peach;
		}
		.input-group-button {
			a {
				height: 2.5rem;
				line-height: 2.9rem;
				padding: 0 0.7rem;
				border: 0.125rem solid $dark-peach;
				border-left: 0;
				margin-left: -1px;

			}
		}
	}
	padding-bottom: 2rem;
}

/*********************
COLOR PANELS
**********************/

.color-panel {
	background-color: $primary-color;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	@include breakpoint(medium) {
		padding-top: 2rem;
	}
	overflow: hidden;
	color: $white;
	label, p, h1, h2, h3, h4, h5, h6 {
		color: $white;
	}
	button, a.button {
		background-color: $white;
		color: $primary-color;
		&:hover {
			background-color: mix($primary-color, $white, 15%);
		}
	}


	@include color-panel(earth, $earth);
	@include color-panel(white-two, $white-two, light);

}





/*********************
NAVIGATION STYLES
*********************/
$menu-breakpoint: large;


// Main navigation general
.main-navigation {
	background-color: transparentize($slate, 0.05);
	@include breakpoint($menu-breakpoint) {
		background-color: $slate;
	}
	padding: 0 1rem ;
	ul.menu {
		&>li{
			color: $white-three;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			padding-top: 1rem;

			&>a {
				border-bottom: 1px solid $white-three;
				padding-left: 0;
				padding-right: 0;
				padding-top: 0;
			}

			ul.menu {
				padding-left: 1rem;
				&>li{
					border-bottom: 1px solid transparentize($white-three, .5);
					padding-bottom: 0.7rem;

					&>a {
						border-bottom: none;
						padding-bottom: 0;
					}
				}
			}
		}

		// Desktop menu
		@include breakpoint($menu-breakpoint) {

			margin-bottom: 2.5rem;
			margin-top: 2.5rem;
			padding: 0 1rem;

			&>li {
				font-weight: $header-font-weight;
				font-family: $header-font-family;
				border-bottom: none !important;
				padding-left: 0;
				padding-right: 0;
				padding-top: 0;
				padding-bottom: 0;
				// padding: $menu-item-padding;
				padding-bottom: 1rem;
				&>a {
					border-bottom: none !important;
					padding-left: 0;
					padding-right: 0;
					padding-top: 0;
					padding-bottom: 0;
				}
				ul.menu {
					padding-left: 0;
					padding-right: 0;
					padding-top: 1.5rem;
					margin: 0;
					&>li {
						font-weight: normal;
						font-family: $body-font-family;
						border-bottom: 0;
						padding: $menu-item-padding;
						padding-bottom: 0;
						padding-left: 0;
						padding-right: 0;
						&>a, &>.selflink {
							padding-bottom: 0.5rem;
							line-height: 1;
							display: block;
							padding-left: 0;
							padding-right: 0;
						}
					}
				}
			}
		}
	}
}


.main-navigation, .title-bar {
	ul.menu>li>a {
		color: $white-three;
	}
	.is-accordion-submenu-parent {
		a::after {
			border-color: $white-three transparent transparent;
		}
	}
}

.title-bar {
	@include breakpoint(large) {
		display: none;
	}
}

// TopBar (desktop only)
.top-bar {
	.title-area {
		z-index: 1;
	}
	background-color: transparent;
	a, button {
		color: $slate;
	}
	ul.menu {
		background-color: transparent;
		&>li {
			text-transform: uppercase;
			height: 9.375rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			font-size: 0.9rem;
			@include breakpoint (1058px) {
				padding-left: 0.7rem;
				padding-right: 0.7rem;
				font-size: 1rem;
			}

			&>a {
				padding: 0;
				text-transform: uppercase;
				color: $charcoal-grey;
			}
		}
		ul.menu.submenu {
			background-color: $white;
			top:70%;
			&>li {
				height:auto;
				&>a {
					padding: $menu-item-padding;
					padding-left: 0.7rem;
					padding-right:0.7rem;
				}
				&.menu-text {
					padding-left: 1.4rem;
					padding-right: 1.4rem;
				}
			}
		}
	}
	.top-bar-right {
		// Search and menu buttons
		ul.menu {
			&>li {
				padding: 0;
				display: inline-block;
				&>a {
					height: 100%;
					padding-top: 3.3rem;
					width: 4.7rem;
					@include breakpoint(1124px) {
						width: 5.3125rem;
						@include breakpoint(1195px) {
							width: 7.3125rem;
						}

					}
					&.toggled {
						color: $white;
					}

					&.search-button {
						padding-top: 3.5rem
					}
				}
			}

		}
	}


	.site-logo {
		padding: 2rem 0 1rem 1rem;
		img {height: 63px; margin-bottom: 0.75rem;}
		.site-slogan {
			font-size: 0.778rem;
			color: rgba(70, 87, 99, 0.85);
			margin-bottom: 0;
		}
	}
	.menu-button, .search-button {
		i {
			display: block;
			margin: auto;
			font-size: 1.9rem;
		}
		font-size: 0.9rem;
		text-transform: uppercase;
		text-align: center;
	}



}

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

// Language trigger
.uls-trigger {
	background: none !important;
}
/***
Profile box
	*****/
.profile-box {
	text-align: center;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
	img {
		display: none;
		@include breakpoint($menu-breakpoint) {
			display: block;
			margin: auto;
			border-radius: 300px;
			border: 3px solid $white-three;
		}
	}
	&>i {
		font-size: 6rem;
		color: $white-one;
		border-radius: 300px;
	}
	ul.menu {
		@include grid-row;
	    margin-left: -0.83333333rem;
	    margin-right: -0.83333333rem;

		&>li {
		    border-bottom: none !important;
			@include grid-column(6);
			text-align: left;
			@include breakpoint($menu-breakpoint) {
				text-align: center;
			}
			&:last-child {
				text-align: right;
				@include breakpoint($menu-breakpoint) {
					text-align: center;
				}
			}
			@include breakpoint($menu-breakpoint) {
				text-align: center;
				@include grid-column(12);
			}
			&>a {
				border-bottom: none !important;
			}
		}

		@include breakpoint($menu-breakpoint) {
			margin-top: 0 !important;
			&>li {
				padding: 0;
				&>a {
					padding: 0 !important;
					padding-top: 0.5rem;
				}
			}
		}
	}

}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}

.title-bar {
	background-color: $slate;
	padding: 1.2rem 2rem;
	.title-bar-logo {
		max-width: 112px;
		height: auto;

	}
	&>button {
		float: right;
		font-size: 0.6rem;
		text-transform: uppercase;

		&>i {
			display: block;
			margin: auto;
		}
	}
}

.site-header {
	@include breakpoint(medium) {
		border-bottom: 2px solid $dark-peach;
		margin-bottom: 60px;
	}

	// Specifics for search-modal when in top-bar
	position: relative;
	@include breakpoint(medium down) {
		margin-left: -0.625rem;
		margin-right: -0.625rem;
		@include breakpoint(medium) {
			// margin-left: -0.9375rem;
			// margin-right: -0.9375rem;
		}
	}
	.search-modal {
		position: absolute;
		z-index: 1098;
		left: 0;
		right: 0;
	}
	// Specifics for mega-menu when in top-bar
	.mega-menu {
		@include breakpoint ($menu-breakpoint) {
			position: absolute;
			left: 0;
			right:0;
			z-index: 9999;
		}
	}
}

.ns-4000, .ns-4100, .ns-4002, .ns-4004, .ns-4006, .ns--1 {
	.site-header {
		border:none;
		margin-bottom: 0;
	}
}

#header-image{

	display: block;
	height: 190px;
	background-size: cover;
	background-position: center center;
    margin-left: -1rem;
    margin-right: -1rem;
	&.header-image-center {
		background-size: contain;
		background-repeat: no-repeat;
	}
	@include breakpoint(medium) {
		height: 300px;
		border-bottom: 2px solid $dark-peach;
		margin-left:0;
		margin-right:0;
		@include breakpoint(large){
			height: 550px;
		}
	}
}

/*********************
CONTENT STYLES
*********************/

// Left column on fiches
.mw-body.has-archi-columns {
	@include grid-row;
	margin-left: -0.625rem;
	margin-right: -0.625rem;
	.mw-info-column {
		@include grid-column
		padding: 0 1rem;

		@include breakpoint(medium) {
			@include grid-column(4);
		}
	}
	.mw-content-column {
		@include grid-column;
		padding: 0 1rem;
		@include breakpoint(medium) {
			@include grid-column(7);
			@include grid-column-end;
		}
	}
	.mw-body-content {
		position:relative;
	}
}
.mw-body:not(.has-archi-columns) {
	position:relative;
	@include breakpoint(large) {
		@include grid-column(9);
		@include grid-column-position(center);
	}
}
.ns--1 {
	.mw-body {
		@include grid-column-row();
		@include breakpoint(small only) {
			padding-left:0;
			padding-right:0;
		}
	}
}


// General notice styles
.notice {
	margin-top: 0;
	margin-bottom:1rem;
	background-color: transparentize($primary-color, 0.8);
	padding-left:1em;
	padding-right:1em;
	padding-top:1em;
	padding-bottom:1em;
	font-size: rem-calc(14px);
	i.material-icons {
		font-size: 1rem;
		color:$dark-peach;
	}
}
h2+.notice {
	margin-top:-19px;
}
// General infobox styling
.columnbox {
	background-color: $white;
	font-size: 0.9rem;
	background-color: $white;
	overflow: hidden;
	margin-top: 16px;
	position: relative;

	a, a.new {
		color: $slate;
		text-decoration:underline;
	}

	.columnbox-title {
		font-size: 1rem;
		margin-bottom: 0;
		border-bottom: 1px solid $dark-peach;
		padding: 0.6rem 0.7rem;
	}

	ul {
		margin-top:11px;
		margin-left:11px;
		margin-bottom:11px;
		li {
			list-style:none;
			margin-bottom:5px;
		}
	}

}


// Map info box
.infobox {
	@extend .columnbox;

	font-size: 0.778rem;
	margin-top:-35px;
	position:relative;
	&.no-header-image {
		margin-top: 15px;
	}

	@include breakpoint(medium) {
		&.no-header-image {
			margin-top: 0;
		}
	}
	a, a.new {
		text-decoration:none;
	}
	border-collapse: separate;
	tr:first-child {
		td {
			// padding: 0;
			border: 0;

			.maps-map {
				width: 100% !important;
			}
		}
	}
	tr:nth-child(2) {
		// display: none;
	}
	tr:last-child {
		border-bottom:none;
	}

	tr{

		&>th {
			width: 50% !important;
			text-align: left;
			font-weight: normal;
		}
		&>td {
			text-align: right;
			font-weight: $global-weight-bold;
			font-size: 0.8rem;

			&[colspan="2"] {
				text-align:center;
			}


		}

		&.end-section {
			td, th {border-bottom-width: 1px; border-bottom-color: $greyish;}
		}
	}
}

/*Workaround bug in Leaflet.GridLayer.GoogleMutant: https://gitlab.com/IvanSanchez/Leaflet.GridLayer.GoogleMutant/issues/44 */
.leaflet-container {
	text-align: left;
}

.ns-4000 {
	.infobox {
		@include breakpoint(medium) {
			margin-top: -150px;
			&.no-header-image {
				margin-top:0;
			}
		}
	}
}

.infobox-actu {
	margin-top: -1.2rem;
	border-top: none;
}

.smwtticon.warning {
	display:none !important;
}

//Hide empty paragraphs
p > br:only-child {
	display: none;
}

// Summary / TOC
#toc {
	@extend .columnbox;

	.toctitle {
		h2 {
			@extend .columnbox-title;
		}
	}

	ul {
		margin: 0.5rem 0.7rem !important;

		// Sub menu
		ul {
		    clear: both;
		}
		li {
			list-style-type: none;
			position: relative;
			margin: 0.25rem 0;
			overflow:hidden;
			a {
				color: $slate;
				line-height: 1.8;
				font-size: 0.9rem;
				text-decoration:none;
				.tocnumber {
					// text-decoration: underline;
					float: left;
					&::after {
						content:'.';
					}
				}
				.toctext {
					text-decoration: underline;
					position: static;
					float: left;
					max-width: 89%;
					margin-left: 2%;
				}
				sup {
					text-decoration: none;
				}
			}
		}
	}
}

.translations {
	@extend .columnbox;

	.translations-title {
		@extend .columnbox-title;
	}
}

// Entry content
// .thumb {
// 	display:none;
// }

// Breadcrumb
#category-bread-crumbs {
	font-size: 0.778rem;
	a {
		text-decoration: underline;
		padding: 0 0.4rem;
	}
}

h1.firstHeading {
	font-size: 1.778rem;
}

#siteSub {
	display: none;
}

#toc .toctogglespan,
.mw-pt-translate-header {
	display:none;
}

#mw-content-text {

	padding-top: 1rem;
	padding-bottom: 2rem;
	hr {
		display: none;
	}

	.wikitable {
		hr {
			display: block;
		}
	}

	a {
		text-decoration: underline;
	}

	h2 {
		padding-bottom: 0.5rem;
		margin-bottom: 1.2rem;
		border-bottom: 3px solid $dark-peach;
		clear:both;

		.mw-editsection {
			float: right;
			margin-top: 1rem;
			font-weight: normal;
			font-family: $body-font-family;

			.mw-editsection-bracket {
				display: none;
			}
			a {
				text-decoration:none;
			}
		}
		a {
			font-weight: normal;
		}
	}

	h3 {
		border-bottom: dotted 1px $dark-peach;
		padding-bottom: 0.3rem;

	}

	ul {
		li {
			margin-bottom:10px;
		}
	}

}




// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}


table {
	border-top: 3px solid $dark-peach;
	tbody {
		tr {
			background-color: white !important;
			th, td {
				padding: 0.6rem 0.7rem 0.7rem;
				border-bottom: 1px solid transparentize($greyish, 0.7);
			}
			th:first-child, td:first-child {
				margin-left: 10px;
			}
			td:last-child {
				margin-right: 10px;
			}
		}
	}
}

.gallery {
	margin: 0 !important;
	text-align: center;
}
// Gallery boxes
li.gallerybox {
	background-color: $white;
	border: 0;
	border-bottom: 1px solid $dark-peach;
	width: 180px !important;
	margin: 1rem;
	&>* {
		width: 100% !important;
	}
	div.thumb {
		border: 0;
		background-color: $white;
		width: 100% !important;
		margin: 0;
		&>div {
			margin: 0 !important;
			img {width: 100% !important;}
		}
	}
	.gallerytext {
		text-align: center;
		padding: 0;
		color: $slate;
		font-size: 0.9rem;
		p {
			margin: 0.5rem 0.3rem;
		}
	}
}

/*********************
REFERENCES
*********************/
.mw-content-ltr ol.references, .mw-content-rtl .mw-content-ltr ol.references {
    font-size: 85%;
	@include breakpoint(small only) {
		margin-left:2rem;
	}
}

#mw-content-text {
	& .mw-cite-backlink a,
	& .reference a {
		text-decoration: none;
	}
}

/*********************
CAPTIONS
*********************/

.thumbcaption {
    font-size: 94%;
}

/*********************
CATEGORIES
*********************/

.mw-normal-catlinks {
	padding: 10px 15px;
	border: 1px solid $white-one;
	font-size: 16px;
	 a {
	 	color: $charcoal-grey;
	 	text-decoration: underline;
	 }
}

/*********************
ARTICLE PRE-COMMENTS FOOTER
*********************/

#mw-data-after-content {
	// Contribuer line
	&>p:first-child {
		text-align: center;
		font-size: rem-calc(14px);
		padding:2rem 0;
		a {
			color: $slate;

			&::before {
				content: '+';
				margin-right:1rem;
				border:1px solid $slate;
				border-radius: 500px;
				width: 20px;
				display: inline-block;
				height: 20px;
				line-height: 17px;
			}
		}
	}

	// Prev / Next line
	&>div.noexcerpt {
		font-size: 0.5rem;
		a {
			font-size: rem-calc(14px);
			text-decoration: underline;
			color: $slate;
			margin: 0 0.5rem;
			display: inline-block;
		}
	}
}

/********************
Comments
*********************/

#mw-data-after-content {
	&>div.noexcerpt+h2 {
		border-bottom: 3px solid $greeny-blue;
		padding-bottom:5px;
		#Commentaires {
			& + .mw-editsection {
				display:none;
			}
		}
	}
	.comments-body {
		.c-order {
			display:none;
		}
		a {
			color: $sea;
		}
		// Comment
		.c-item {
			@include grid-row(12);
			@include grid-row-nest();
			margin-bottom: 30px;


			.c-avatar {
				@include grid-column(2);
				text-align: center;
				&>img {
					width:80px;
					height:auto;
					border-radius:100px;
					border: 3px solid $greeny-blue;
				}
			}

			.c-container {
				@include grid-column(10);

				.c-user {
					overflow:hidden;
					margin-bottom: 10px;
					p {
						font-weight:bold;
						float:left;
						margin-bottom:0;
					}
					.c-time {
						float:left;
						color: $sea;
						font-style:italic;
						margin-left:10px;
						font-size: rem-calc(14px);

					}
					.c-score {
						display:none;
					}
				}
				.c-comment {
					margin-bottom:10px;
				}
				.c-actions {
					font-size: rem-calc(14px);
					p {
						display: flex;
						flex-direction: row-reverse;
						justify-content: flex-end;
						visibility: hidden;
					}
					a {
						visibility:visible;
						font-style:italic;
						color: $greyish;

						&.comments-reply-to {
							color: $sea;
							font-style:normal;
						}
					}
				}
			}
			&.reply {
				.c-avatar {
					@include grid-column(2);
					@include grid-column-offset(2);
				}
				.c-container {
					@include grid-column(8);
				}
			}
		}
	}

	.showhide-comments {
		color: $slate !important;
		display:block;
		text-align:center;
		font-size:rem-calc(14px);
		margin-bottom:1rem;
		margin-top:2rem;

		&::before {
			content: '+';
			margin-right:1rem;
			border:1px solid $slate;
			border-radius: 500px;
			width: 20px;
			display: inline-block;
			height: 20px;
			line-height: 17px;
		}

	}

	form[name="commentForm"] {
		.c-form-title {
			font-family: $header-font-family;
			font-weight: $header-font-weight;
			border-bottom: 3px solid $greeny-blue;
			padding-bottom: 5px;
			font-size: 1.3rem;
			margin-bottom: 0.5rem;
		}
		textarea {
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}
		.site-button {
			background-color: $greeny-blue;
			&:hover {
				background-color: darken($greeny-blue, 5%);
			}
		}
	}

	.comment-form {
		display:none;
	}
}

/*********************
IMAGE GALLERY STYLES
*********************/


/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting
			ul {}

		}
	}
}

.archiwiki-toolbox {
	margin:0;
	position:absolute;
	right:-90px;
	z-index:999;
	@include breakpoint(medium down) {
		right: 0px;
	    top: 10px;

	}
	li.archiwiki-toolbox-item {
		list-style:none;
		text-align:right;
		position:relative;
		&>a {
			border:1px solid $greyish;
			display:inline-block;
			border-radius:50px;
			background-color: $body-background;
			font-size:16px;
			position:relative;
			height:30px;
			white-space: nowrap;
			min-width:30px;
			padding-left: 0;
			padding-right:28px;
			transition: padding 0.3s;
			color: $slate;


			&>span{
				display:inline-block;
				max-width:0;
				transition:max-width 0.3s;
				overflow:hidden;
				white-space: nowrap;


			}
			&>.material-icons {
				font-size:18px;
				height:30px;
				width:30px;
				border:1px solid $greyish;
				border-radius:50px;
			    text-align: center;
			    line-height: 30px;
			    position:absolute;
				right:-1px;
				top: -1px;
				transition: border-color 0.5s;
				color: $slate;
			}
		}

		&:hover {
			&>a {
				max-width: none;
				border:1px solid $greyish;
				padding-left: 15px;
			    padding-right: 35px;

				&>span {
					max-width:300px;
				}
				&>.material-icons {
					border-color: $primary-color;
					color:$primary-color;
				}

			}
		}

	}
	ul.archiwiki-toolbox-submenu {
		display:none;

	}
}
.action-edit .archiwiki-toolbox {
	right:0;
	top: 20px;
}
/*********************
FOOTER STYLES
*********************/
#mw-footer {
	clear: both;
	margin-top: 1em;
	padding: 3rem 0;
	background-color: $charcoal-grey;
	color: $white;
	a {
		color: $white;
	}
	ul {
		margin:0;
		margin-top: 15px;
		font-size: rem-calc(14px);
		li {
			list-style: none;
			margin-bottom: 10px;
		}
	}
	h2 {
		font-size: rem-calc(12px);
		font-weight: bold;
		margin-top:30px;
	}

	.partners {
		a {
			display:inline-block;
			margin-left:15px;
			margin-bottom: 20px;
		}

	}
	.button.hollow {
		border-width:3px;
		border-color:$white;
		font-weight: $global-weight-bold;
		position:relative;
		text-transform:none;
		i.icon {
			font-size:1.6em;
			margin-top: -1rem;
			display: inline-block;
			position: relative;
			top: 5px;
			right: 9px;
		}
	}
}

/********************
HOMEPAGE
*********************/

/**
 * Layout
 */


.mw-special-ArchiHome {
	.firstHeading {
		display:none;
	}
	.mw-body-content {

		#mw-content-text {

			h2, h3, h4, h5, h6 {
				border-bottom: none !important;
			}
			.header-row {
				@include grid-row();

				.header-image-continer {
					@include grid-column(12);
					@extend .small-cancel-global-padding;
					margin-top: -2rem;
					width: auto;
					float: none;
					@include breakpoint(medium) {
						@include grid-column(7);
						margin-left:0;
						margin-right:0;
						margin-top: 0;
						padding-right:0 !important;
					}
					#header-image {
						width: auto;
						float: none;
						@include breakpoint(medium) {
							border-bottom: none;
							height:400px;
						}
					}

				}
				.spotlight-container {
					@include grid-column(12);
					@include breakpoint(medium) {
						@include grid-column(5);
						padding-left:0 !important;

						p {
							font-size: 16px;
						}

					}
					.spotlight-on {
						@include breakpoint(medium) {
							margin-top:0;
						}
						margin-bottom: 50px;
						margin-top:-70px;
						background-color: $white;
						padding: 15px;
						position: relative;
						@include breakpoint(medium) {
							padding-top:0px;
							height:400px;
							margin-bottom:0;
						}
						font-size: rem-calc(14px);
						.spotlight-header {
							@include breakpoint(medium) {
								width: auto;
							    background-color: $white;
							    padding: 30px;
							    margin-left: -110px;
							}
						}
						h2 {
							border-bottom: none !important;
							font-size: rem-calc(12px);
							@include breakpoint(medium) {
								font-size: rem-calc(16px);
							}
							margin-bottom: 0 !important;
							padding-bottom: 0 !important;
						}
						h3 {
							border-bottom: none !important;
							margin-bottom: 0 !important;
							@include breakpoint(medium) {
								font-size: rem-calc(25px);
							}

						}
						.breadcrumb {
							font-size: rem-calc(12px);
							margin-bottom: 5px;
							margin-top: 5px;
						}
						p:last-of-type {
							margin-bottom:0;
						}
					}
				}
			}
			.search-box-row {
				@include grid-row();

				.search-box-container {
					@include grid-column(12)
					@extend .small-cancel-global-padding;
					width: auto;
					float: none;
					@include breakpoint(medium) {
						@include grid-column(12);
					}

					.search-box {
					}
				}
			}

			.association-block {
				@include grid-row(0);
				.archiwiki-intro-holder {
					@include grid-column(12);
					@include breakpoint(medium) {
						@include grid-column(5);
						padding-right:0 !important;
					}
				}
				.latest-news-holder {
					@extend .archiwiki-intro-holder;
					@include breakpoint(medium) {
						@include grid-column(7);
						padding-left:0 !important;
						padding-right: $global-padding !important;
					}
				}
			}
			.latest-block {
				@include grid-row();
				.latest-changes-container {
					@include grid-column(12);
					@include breakpoint(medium) {
						@include grid-column(8);
					}

					.latest-changes {
						@include grid-row();
						@include grid-row-nest();
						&>h2 {
							@include grid-column(12);

						}
						&>p {
							@include grid-column(12);
							@include breakpoint(medium) {
								text-align: center;
							}
						}
						.latest-changes-recent-change-container {
							@include grid-column(12);
						}
						@include breakpoint(medium) {
							.latest-changes-recent-change-container {
								@include grid-column(6);
								&:nth-child(2n) {
									clear:both;
								}

								.latest-changes-recent-change {
									overflow: hidden;

								}
							}
						}
					}
				}
				.latest-comments-container {
					@include breakpoint(medium) {
						@include grid-column(4);
						.latest-comments-recent-comment-container {
							// @include grid-column(12);
						}
					}
					.latest-comments {
					}
				}
			}
		}
	}


}

.association-block {

}

.article-tabs {
	position:absolute;
	right:5px;
	top:-60px;
	background-color: $white;
	ul.menu {
		&>li.selected {
			background-color: $dark-peach;
			&>a {
				font-weight:$global-weight-bold;
				color: $white;
			}
		}
	}
}
.header-image-continer {
	position:relative;
	.article-tabs {
		bottom:0;
		top:auto;
		right:10px;
	}

}

.archiwiki-intro {
	@extend .color-panel;
	@extend .color-panel-white-two;
	@extend .small-cancel-global-padding;
	background-color: $white-two;
	p {
		font-size:16px;
	}

	li > sup {
		display: none;
	}
}
.latest-news {
	@extend .archiwiki-intro;
	background-color: $white;
	display:flex;
	flex-direction:column;
	.content-row {
		display:flex;
		flex-direction:column;
		flex-grow:1;
		align-items: stretch;
		@include breakpoint(medium) {
			flex-wrap: nowrap;
			margin-right:0;
			@include breakpoint(large) {
				flex-direction: row;
				margin-left:-1rem;
				margin-right:-1rem;
			}

		}

		&>.thumb {
			align-self: flex-start;
			margin-right:0.5rem;
			@include breakpoint(medium only) {
				text-align:center;
				align-self: stretch;
				.thumbinner {
					display:inline-block;
				}
			}
			@include breakpoint(small only) {
				margin-right:0;
				width:100%;
				.thumbinner {
					width:100%;
					img {
						width:100%
					}
				}
			}
		}
		&>.latest-news-text {
			margin-left:0.5rem;
		}

	}

}


.latest-block {

}

.header-image {
	height: 222px;
	background-size: cover;
	background-position: center center;
	@extend .cancel-global-padding;

}

.latest-changes {
	&>h2 {
		font-size: 1.125rem;
		margin-top:30px;
		margin-bottom:20px;
		text-align:center;
		@include breakpoint(medium) {
			text-align: left;
			font-size: 1.875rem;
		}
	}
	&>p>a {
		@extend .button;
		@extend .button.hollow;
		@extend .button.secondary;
		margin-top:20px;
	}
	.latest-changes-recent-change {
		position:relative;
		@extend .small-cancel-global-padding;
		padding-left: $global-padding;
		padding-right: $global-padding;
		padding-bottom: 10px;
		background-color: $white;
		margin-bottom: 5px;
		@include breakpoint(medium) {
			margin-bottom:30px;
		}


		&::before {
			content: ' ';
			overflow: hidden;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: 30px solid $white;
			width:0;
			height:0;
			position: absolute;
			top:194px;
			left:10px;
		}
		font-size: 14px;
		p {
			font-size: 14px;
		}
		p, h1, h2, h3, h4, h5, h6 {
			color: $dark;
		}
		.header-image {
			@extend .cancel-global-padding;
		}
		h3 {
			margin-top:20px;
			@include breakpoint(medium) {
				font-size: 1.5625rem;
			}
		}


	}
}


.latest-comments {
	@extend .latest-changes;
	&>p {
		text-align:center;
		@include grid-column(12);
	}
	.latest-comments-recent-comment-container {
		@extend .latest-changes-recent-change-container;
	}
	.latest-comments-recent-comment {
		@extend .latest-changes-recent-change;
		padding-top: 20px;
		&::before {
			display: none;
		}

		&::after {
			content: 'comment';
			font-family: "Material Icons";
			display:block;
			position: absolute;
			opacity: 0.05;
			top: 35px;
			@include breakpoint(medium) {
				top: 25px;

			}
			font-size: 109px;
			transform: rotate(-4deg) scaleX(-1);
			pointer-events: none;
		}
		h3 {
			@include breakpoint(medium) {
				font-size: 1.25rem;
				margin-top: 0;
			}
		}
	}
}


/*********************
CATEGORIES STYLES
*********************/
.mw-category-generated {
	h3 {

	}
	ul {
		margin-bottom:1rem !important;
	}
}

/***********************
HISTORY AND DIFFS
***********************/
#pagehistory {
	input[type=radio] {
		margin: 0 5px;
	}
}


/*********************
LOGIN
**********************/

#userloginForm form {
	margin: 0 auto;
}

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

/********************
Full width mobile namespaces
**********************/

.ns--1,
.ns-4000,
.ns-4006 {
	.wrapper {
		@include grid-column-collapse();
	}
}

.oo-ui-barToolGroup > .oo-ui-toolGroup-tools > .oo-ui-tool > .oo-ui-tool-link {
	height: 2.875em;
}

// Full Width editor namespaces
.ve-activated {
	.ns-4000,
	.ns-4006 {
		.mw-body {
			@include grid-column-row();
		}
	}
}



/********************
// INSITE #21819
************************/
.mw-ui-icon.mw-ui-icon-spinner.mw-ui-icon-element.spinner.loading {
	display: flex;
	flex-flow: column;
	align-items: center;
	&:before {
		content: '';
		display: inline-block;
		width: 2rem;
		height: 2rem;
		background-size: contain;
	}
	&.hidden {
		display: none;
	}
}

#mw-mf-nearby {
	.page-list {
		margin-left: 0;
		li.page-summary {
			padding-left: 85px;
			padding-bottom: 2rem;
			min-height: 9rem;
			padding-top: 0;
			@media screen and (min-width: 400px) {
				padding-top: .5rem;
				padding-left: 155px;
			}
			.wikidata-description {
				font-size: .85rem;
			}
		}
		.list-thumb {
			@include aspect-ratio(70px, 70px);
			position: absolute;
			height: auto;
			@media screen and (min-width: 400px) {
				width: 140px;
				@include aspect-ratio(70px, 70px);
				position: absolute;
			}
		}
	}
}
//.page-list.thumbs.actionable {
//
//}
.sitedir-ltr .mw-dismissable-notice-body {
	margin: 0;
	padding: 2rem 3rem;
	#localNotice p:last-child {
		margin-bottom: 0;
	}
}
#siteNotice {
	position: absolute;
	top: 0;
	right: 0;
	background: #FFF;
	z-index: 9999;
	max-width: 100%;
	width: 990px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 5px 5px #D7D7D7;
}

.mw-dismissable-notice-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 0;
	a {
		display: block;
		width: 25px;
		height: 25px;
		background-image: url(/skins/archi-wiki/resources/img/collapse-close.svg);
		background-size: contain;
	}
}


/********************
// INSITE #26862
************************/
.ve-ce-surface {
	.main-image {
		width: auto;
		float: none;
		margin: 0 2rem 2rem 0;
		display: block;
		a, img {
			display: block;
		}
	}
}
.mw-editform textarea {
	font-size: 16px;
}

/********************
// INSITE #28295
************************/
.mw-body-content #mw-data-after-content .noexcerpt {
	@extend .clearfix;
	margin-bottom: 2rem;
}

/********************
// INSITE #27947
************************/
.mw-body-content span.select-sfs select:not([multiple]) {
	margin-bottom: 0;
	padding-bottom: 3px;
	height: 29px;
}

/********************
// INSITE #27969
************************/
#wikiEditor-ui-toolbar #wikiEditor-section-advanced .label {
	background-color: transparent;
}
#wikiEditor-ui-toolbar #wikiEditor-section-advanced span.label {
	background-color: transparent;
	padding-top: 0;
	padding-bottom: 0;
}
#wikiEditor-ui-toolbar .tabs span.tab a {
	color: #222;
}

/********************
// INSITE #27995
************************/

@include breakpoint(small down) {
	h2.collapsible-heading {
		position: relative;
		padding-left: 3rem;
		outline: 1px dotted #8a8a8a;
		.mw-ui-icon.mw-ui-icon-element {
			position: absolute;
			left: 0;
			top: 40%;
			transform: translateY(-50%);
			width: 2em;
			min-width: 2em;
			background-size: contain;
			margin: 0;
			&:before {
				margin: 0;
			}
		}
	}
	#mw-content-text h2 {
		.mw-editsection {
			margin-top: .3rem;
			display: none;
			a {
				display: inline-block;
				text-indent: -9999px;
				width: 20px;
				height: 20px;
				background-image: url(/skins/archi-wiki/resources/img/edit_black.svg);
				background-size: contain;
			}
		}
		&.open-block {
			.mw-editsection {
				display: block;
			}
		}
	}
}

/***********************
// INSITE #27995#note-12
************************/

@include breakpoint(medium down) {
	.mw-body.has-archi-columns .mw-body-content {
		position: initial;
	}
	.mw-content-column {
		h1.firstHeading {
			padding-right: 2rem;
		}
		.infobox {
			margin-top: 0;
		}
		#mw-content-text {
			padding-top: .3rem;
		}
		ul.archiwiki-toolbox {
			right: 1.2rem;
			top: 5rem;
		}
	}
	#ca-ve-edit-noswitch,
	#mw-content-text h2 .mw-editsection span.mw-editsection-divider,
	#mw-content-text h2 .mw-editsection a.mw-editsection-visualeditor {
		display: none;
	}
}


/***********************
// INSITE #28805
************************/
.search-box-row {
	span.link--nearby a {
		display: inline-flex;
		flex-flow: row nowrap;
		align-items: center;
		&:before {
			content: "";
			display: block;
			position: relative;
			top: 2px;
			width: 16px;
			height: 19px;
			background-image: url(../../resources/img/map-marker.png);
			background-size: contain;
			background-repeat: no-repeat;
			margin-right: .25rem;
		}
	}
}





/***********************
// INSITE #26378
************************/

div.mw-echo-ui-notificationBadgeButtonPopupWidget-popup {
	top: 112px!important;
}

li#pt-notifications-alert,
li#pt-notifications-notice {
	padding: 3.3rem .5rem 0;
	a.mw-echo-notifications-badge {
		display: inline-block;
		height: 20px;
		background-repeat: no-repeat;
		padding: 0;
		top: 7px;
	}
}


/***********************
// INSITE #29643
************************/
@include breakpoint(large) {
	.mw-body-content:not(.map-layout) {
		table.formtable tbody tr.checkboxesLine {
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			th {
				flex: 0 0 230px;
			}
		}
	}
	.map-layout {
		#mw-content-text {
			display: flex;
			flex-flow: row-reverse nowrap;
			> .mw-parser-output {
				width: 70%;
				flex: 0 0 70%;

			}
		}

		.pf-runquery-formcontent .mw-parser-output {
			max-height: 675px;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		.pf-runquery-formcontent {
			width: 30%;
			flex: 0 0 30%;
			#pfForm select {
				width: 100%!important;
			}
			table.formtable tbody tr.checkboxesLine {
				display: block;
			}
			table.formtable {
				tbody tr th {
					width: 35%;
				}
				tbody tr td {
					width: 65%;
					padding: 0.6rem 0.7rem .6rem 0;
					span.inputSpan {
						display: block;
						max-width: 200px;
						input,
						select {
							width: 100%!important;
							min-width: 150px!important;
							display: block!important;
							appearance: auto!important;
							border-radius: 0!important;
							padding: 10px!important;
							height: auto;
							border: 1px solid #D7D7D7;
							background: none!important;
						}
					}
					label.checkboxLabel {
						width: 100%;
						margin-right: 0!important;
					}
					input, select {
						max-width: 100%!important;
						padding: 0!important;
					}
					input[type="checkbox"] {
						margin: 0;
					}
					span.select-sfs {
						position: relative;
						min-width: 150px!important;
						&:after {
							content: none!important;
						}
					}
				}
			}
		}
	}
}

.pf-runquery-formcontent table.formtable tbody tr.checkboxesLine {
	th, td {
		display: block;
		width: 100%;
		padding: 10px;
		margin: 0;
	}
	th {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		&:after {
			content: '';
			display: block;
			width: 1.25rem;
			height: 1.25rem;
			background-image: url(/skins/archi-wiki/resources/img/arrow.svg);
			transform: rotate(180deg);
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	&.is-open th:after {
		transform: rotate(0deg);
	}
}

#mw-content-text .leaflet-control-zoom a {
	text-decoration: none;
}

/***********************
// INSITE #29643
************************/
.leaflet-popup {
	.mw-parser-output {
		margin-top: 1rem;
		.floatnone {
			text-align: center;
		}
		a {
			display: inline-block;
		}
	}
	a.leaflet-popup-close-button {
		text-decoration: none!important;
	}
}

form#pfForm {
	table.formtable {
		tbody {
			max-width: 100vw;
			display: block;
		}
	}
}

body:fullscreen .map-layout #mw-content-text #map_leaflet_1 {
	width: 100vw!important;
	height: 100vh!important;
}

@media (max-width: 768px) and (orientation: portrait) {
	.map-layout #mw-content-text #map_leaflet_1 {
		max-height: 65vh!important;
	}
}
@media (max-width: 768px) and (orientation: landscape) {
	.map-layout #mw-content-text #map_leaflet_1 {
		max-height: 100vh!important;
	}
}
@media (max-width: 768px) {
	form#pfForm {
		table.formtable {
			width: 100%;
			span.select-sfs {
				width: 100%;
				min-width: auto!important;
				select {
					min-width: auto!important;
					width: 100%!important;
				}
			}
			max-width: 100vw;
			display: block;
			tr {
				display: flex;
			}
			th {
				display: flex;
				width: 40%;
				align-items: flex-start;
			}
			td {
				display: block;
				width: 60%;
			}
		}
	}
}

