/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
// @import "style";

@media print {
  #site-header, .translations, #mw-data-after-content,#mw-footer,.mw-editsection,.leaflet-control,.article-tabs,.archi-wiki-toolbox {
    display: none; }
  a[href]:after {
    content: "" !important; }
  a{
    text-decoration: underline !important;
  }
  .reference a {
    text-decoration: none !important;
  }
  #toc{
    page-break-inside: avoid !important;
  }
  a[href*="archive"],a[title*="Actualités"] {
    display: none !important;
  }
  h3{
    border-bottom-style: solid !important;
  }
  .infobox h3,.infobox h2, .infobox h1{
    border-bottom-style: none !important;
  }

  .infobox{
    margin-top:0px !important;
  }
  @media (orientation: portrait) {
    .infobox {
      width: 50% !important;
      max-width: 50% !important;
      min-width: 50% !important;
    }
  }

  @media (orientation: landscape) {
    .infobox {
      width: 30% !important;
      max-width: 30% !important;
      min-width: 30% !important;
    }
  }
  #header-image{
    margin-top: 0px !important;
    height: 0px;
  }
  #infobox-div-print{
    display: flex;
    flex-direction: row-reverse;
  }
  table.infobox,div.mw-info-column,div#infobox-div-print{
    page-break-inside: unset !important;
  }
  table.infobox-actu {
    page-break-inside: avoid !important;
    page-break-before: avoid !important;
  }
  h2,h3, h2 span,h3 span, h2 span:first-child.mw-headline, h3 span:first-child.mw-headline {
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
  }
}
 // End of media query